*,
*::after,
*::before {
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

input {
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --window-width: 950px;
    --window-height: 600px;
}

.container {
    position: absolute;
    width: var(--window-width);
    height: var(--window-height);
    border-radius: 8px;
    background-image: url("../assets/img/launcher-bg.png");
    background-size: var(--window-width) var(--window-height);
    background-repeat: no-repeat;
    overflow: auto;
}

.btn {
    cursor: pointer;
}

.visible {
    visibility: visible !important; 
}

/* header */

.header {
    display: flex;
    margin: 10px 10px 5px 10px;
    align-items: center;
}

.header__settings {
    --settings-width: 40px;
    --settings-height: 40px;
    width: var(--settings-width);
    height: var(--settings-height);
}

.header__setting-link {
    position: relative;
    display: inline-block;
    width: var(--settings-width);
    height: var(--settings-height);
}

.header__settings-icon {
    position: absolute;
    width: var(--settings-width);
    height: var(--settings-height);
    top: 0;
    left: 0;
    user-select: none;
    transition: all 0.1s linear;
}

.header__settings-icon:hover {
    filter: invert(50%) sepia(90%) saturate(80%) hue-rotate(87deg) brightness(70%) contrast(119%);
    transition: all 0.1s linear;
}

.header__drag-area {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    display: flex;
    width: 850px;
    height: 40px;
    justify-content: center;
}

.header__logo__img {
    --size: 80px;
    width: var(--size);
    height: var(--size);
}

.header__window-manager {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    gap: 10px;
}

.header__window-manager:nth-child(n) {
    user-select: none;
}

.header__window-minimize__icon:hover {
    fill: gray;
}

.header__window-close__icon:hover {
    fill: red;
}

/* MAIN */

/* play */

.play {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    right: 30px;
    gap: 20px;
}

.play__form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play__inp {
    width: 180px;
    height: 40px;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 90);
    border-radius: 5px;
}

.play__btn {
    width: 150px;
    height: 60px;
    color: #bbb;
    font-size: 32px;
    font-weight: 700;
    background-color: #333;
    border-radius: 6px;
    user-select: none;
    transition: all 0.15s linear;
}

.play__btn:hover {
    background-color: #660000;
    transition: all 0.15s linear;
}

.play__btn:active {
    background-color: #3d0000;
}

.play__btn:focus {
    background-color: #3d0000;
}

/* settings */

.settings {
    position: absolute;
    margin: 0;
    padding: 10px;
    max-width: var(--settings-width);
    max-height: var(--settings-height);
    left: 20px;
    top: 60px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
}

.settings__memmory__range {
    -webkit-appearance: none;
    appearance: none;
    margin-right: 5px;
    background: transparent;
    width: calc(100% - 30px);
}

.settings__memmory__range::-webkit-slider-runnable-track {
    background-color: #0b5801;
    height: 15px;
}

.settings__memmory__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    height: 15px;
    width: 15px;
}

.settings__memmory__value {
    font-weight: 600;
}

.settings__folder-open {
    width: 50px;
    height: 50px;
}

.settings__folder-open__img {
    width: 50px;
    height: 50px;
    fill: #fff;
}

/* progress */

.progress {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
}

.progress__bar {
    -webkit-appearance: none;
    display: inline-block;
    width: 100%;
}

/* loader */

.loader {
    position: absolute;
    display: none;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    animation: rotation 1s linear infinite;
    visibility: hidden;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }